.mainInfo {
  display: flex;
  gap: 16px;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 23px;
  line-height: 31px;
  margin: 0;
  color: #1a2258;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
